// Specific CSS for your home-page

.white{
  color:$light-gray;
}

.purple{
  color:#394989;
}

.btn{
  border-radius: 5px;
}



a:hover{
  color:#4EA0AE;
  text-decoration: none;
}


.carousel-inner img {
  margin: auto;
}

.narrow-box{
  width:50%;
}

// .carousel-item{
//   height:400px;
//   & img {
//     object-fit:cover;
//     object-position: center;
//   }
// }
