<div class="footer mt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github white"></i></a>
    <a href="#"><i class="fab fa-instagram white"></i></a>
    <a href="#"><i class="fab fa-facebook white"></i></a>
    <a href="#"><i class="fab fa-twitter white"></i></a>
    <a href="#"><i class="fab fa-linkedin white"></i></a>

  </div>
  <div class="footer-copyright">
    designed by the iGive team
  </div>
</div>
