<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
<%= render 'shared/index', boats: @boats %>

</div>


<!-- iterate over to show 3 boats as hot offers eg -->
