.special_label{
    position: absolute;
    left: -2rem;
    top: 2rem;
    color: #fff;
    border-radius: .3rem;
    background: #218341;
    padding: 0.8rem 1.2rem;
    font-weight: 400;
    font-size: 1.4rem;
  }
