
.card{
  min-height: 150px;
}

.special_label{
    position: absolute;
    left: -2rem;
    top: 2rem;
    color: #fff;
    border-radius: .3rem;
    background: #218341;
    padding: 0.8rem 1.2rem;
    font-weight: 400;
    font-size: 1.4rem;
  }

.thumbnail-home{
  width:352px;
}

.thumbnail, .thumbnail-home{
  display:block;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.thumbnail:hover, .thumbnail-home:hover{
  opacity: .8;
  -webkit-animation: fade 5s;
  animation: fade 5s;
  -moz-animation: fade 5s;
  -o-animation: fade 5s;
}

.home-card-text{
  min-height: 100px;
}

.rounded-lg{
  border-radius: 0.4em !important;
}

