body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  display: flex;
  justify-content: left;
  align-items: center;

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  justify-content: left;
  text-align: left;
  margin-left: 0px;
  color: white;
  padding-left: 0px;

  h1 {
    font-family: 'Libre Franklin';
    font-size: 100px;
    text-shadow: 2px 2px #4EA0AE;
    letter-spacing: 5px;
  }

  p {
    font-size: 24px;
    font-family: 'Libre Franklin';
    padding-top: 10px;
  }
}

.banner-button a{
  border-radius:0.3em;
}

