body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  display: flex;
  justify-content: left;
  align-items: center;

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  margin-left: 24px;
  color: white;
  padding-left: 60px;
  h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 80px;
  }
  p {
    font-size: 24px;
  }
}

.banner-button a{
  border-radius:0.3em;
}

